h1{
    background-color:rgb(64, 234, 234);
}
.box{
    background-color: bisque;
    height:100px;
    width:100px;
    text-align:center;
}
.mydiv{
    width:200px;
    height:200px;
    border-radius:100px;
    border:1px solid red;
    text-align:center;
    background-color:aquamarine;
}
p{
    padding-top:80px;
}